<!doctype html>
<html>

<head>
    {% block head %}
    <title>{% block title %}Home{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script>
        function setSubmitButtonStatus(enabled) {
            const submitButton = document.getElementById('submit')

            // remove all class
            submitButton.classList.remove("bg-red-500");
            submitButton.classList.remove("bg-red-300");

            if (enabled == true) {
                // set enabled
                submitButton.disabled = false;
                submitButton.classList.add("bg-red-500");
                return;
            }

            // set disable
            submitButton.disabled = true;
            submitButton.classList.add("bg-red-300");
        }

        function checkPassword() {
            console.log("CHECK PASSWORD")
            if (document.getElementById('new_password').value == document.getElementById('repeat_new_password').value) {
                setSubmitButtonStatus(true)
            } else {
                setSubmitButtonStatus(false)
            }
        }
    </script>
</head>

<body>
    <div class="flex h-screen w-screen bg-blue-100">
        <div class="flex m-auto w-full">
            <!-- START REGISTER -->
            <div class="bg-white shadow-md rounded px-5 pt-6 pb-8 mb-4 mx-auto flex flex-col w-full md:w-1/5">
                <div class="mb-4 w-full">
                    <h1 class="block text-grey-500 mb-2 text-xl text-center">Change Password</h1>
                </div>
                <form action="/auth/changepassword" method="post">
                    <div class="w-full">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
                        <input class="shadow appearance-none border border-red rounded w-full py-3 px-5 text-grey-darker mb-3" name="current_password" id="password" type="password"
                            placeholder="Current password" onkeyup="checkPassword();">
                    </div>
                    <div class="w-full">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
                        <input class="shadow appearance-none border border-red rounded w-full py-3 px-5 text-grey-darker mb-3" name="new_password" id="new_password" type="password"
                            placeholder="New password" onkeyup="checkPassword();">
                    </div>
                    <div class="w-full">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Repeat Password</label>
                        <input class="shadow appearance-none border border-red rounded w-full py-3 px-5 text-grey-darker mb-3" id="repeat_new_password" type="password"
                            placeholder="Repeat new password" onkeyup="checkPassword();">
                    </div>
                    <!-- START flash error section -->
                    <div class="mb-6">
                        {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors %}
                        {%- for msg in errors %}
                        <p class="block text-red-300 text-md">{{ msg }}</p>
                        {% endfor -%}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <!-- END flash error section -->
                    <div class="flex items-center justify-between w-full">
                        <a class="inline-block align-baseline text-md text-blue-500" href="/user">Back</a>
                        <button class="text-white font-bold py-3 px-5 rounded bg-red-300" type="submit" id="submit" disabled="true">Change</button>
                    </div>
                </form>
            </div>
            <!-- END REGISTER -->
        </div>
    </div>
</body>

</html>
